<%= render partial: "shared/heading", locals: {title: 'Dashboard', tagline: 'Browse newsletters and upload your own.'} %>

<!-- main box area -->
<div class="border border-black border-2 p-5 max-w-3xl mx-auto mb-20">
    <div class="flex">
        <div class="basis-1/2">
            <div class="flex gap-x-2">
                <div class="basis-1/6">
                    <!-- <img src="https://placehold.co/150" alt=""> -->
                    <img src="https://logo.clearbit.com/http://<%= @project.website %>" alt="">
                </div>
                <div class="basis-5/6">
                    <p class="text-lg"><%= @project.title %></p>
                    <p class="text-sm"><%= @project.description %></p>
                </div>
            </div>
        </div>
        <div class="basis-1/2 text-right">
            <p><%= @project.subscribers.count %> subscribers</p>
            <p>
                <a href="<%= new_stakeholder_update_path %>" class="text-brand-orange">Write an update</a>
                <% unless current_user.stakeholder_updates.count.zero? %>
                    | <a href="<%= stakeholder_update_path(current_user.stakeholder_updates.last) %>" class="text-brand-orange">View last</a>
                <% end %>    
            </p>
            <p><a href="" class="text-brand-blue">Edit subscription</a></p>
        </div>
    </div>
</div>

<!-- newsletters -->
<div class="p-5 max-w-3xl mx-auto space-y-4">
    <% @other_projects.each do |other_project| %>
        <div class="flex border border-dashed border-2 p-2">
            <div class="basis-1/2">
                <div class="flex gap-x-2">
                    <div class="basis-1/6">
                    <img src="https://logo.clearbit.com/http://<%= other_project.website %>" alt="">
                    </div>
                    <div class="basis-5/6">
                        <p class="text-lg"><%= other_project.title %></p>
                        <p class="text-xs"><%= other_project.description %> (<%= other_project.website %>)</p>
                    </div>
                </div>
            </div>
            <div class="basis-1/2 text-right">
                <div class="relative flex items-start pb-4 pt-3.5">
                    <div class="min-w-0 flex-1 text-sm leading-6">
                        <label for="<%= other_project.id %>_subscribed_status" class="font-medium text-gray-900">Subscribed: </label>
                    </div>
                    <div class="ml-3 flex h-6 items-center">
                        <% subscriber = Subscriber.find_by(user_id: current_user.id, project_id: other_project.id) %>
                        <input onchange="checkboxChanged(this)" <%= 'checked' if subscriber %> data-subscriber-id="<%= subscriber.try(:id) %>" data-project-id="<%= other_project.id %>" id="<%= other_project.id %>_subscribed_status" aria-describedby="subscribed-description" name="subscribed" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-brand-orange focus:ring-brand-orange-dark">
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    function checkboxChanged(checkbox) {
        let projectId = checkbox.dataset.projectId;

        if (checkbox.checked) {
            createSubscription(projectId);
        } else {
            let subscriberId = checkbox.dataset.subscriberId;
            deleteSubscription(projectId, subscriberId);
        }
    }

    function createSubscription(projectId) {
        $.ajax({ // url, data, callback
            url: '/subscribers',
            method: 'POST',
            data: { subscriber: { project_id: projectId } },
            success: function(data) {
                let subscriberId = data.subscriber_id;
                let projectId = data.project_id;
                let checkbox = document.getElementById(projectId + '_subscribed_status')
                checkbox.dataset.subscriberId = subscriberId
            }
        })

    }

    function deleteSubscription(projectId, subscriberId) {
        $.ajax({ // url, data, callback
            url: '/subscribers/' + subscriberId,
            method: 'DELETE',
            data: { subscriber: { project_id: projectId } },
            success: function(data) {
                console.log('received response from DELETE subscriber request');
                console.log(data);
            }
        })

    }
</script>
